* {
  font-size: 32px;
}

body {
  height: 100%;
  width: 100%;
  padding: 1.5em;
  background-color: #3e4451;
}

select,
input[type='text'] {
  width: 50% !important;
  display: unset !important;
}

#select-div {
  margin-top: 1em;
}

#previsao,
#ondas-div,
#error-div {
  margin-top: 1em;
  color: white;
}

.btn {
  width: 300px;
  vertical-align: unset;
}
p {
  margin-bottom: 0.5rem;
}
@media (max-width: 600px) {
  select,
  input[type='text'] {
    width: 95% !important;
  }
  .btn {
    margin-top: 0.5em;
    width: 95%;
  }
}
